{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}


{% assign swatch = collection-swatch %}
{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}

{% for option in product.options %}
  {% if option == swatch %}
    {% assign found_option = true %}
    {% assign option_index = forloop.index0 %}
    {% assign downcased_option = swatch | downcase %}
    {% if downcased_option contains 'scents' or downcased_option contains 'scent' %}
      {% assign is_color = true %}
    {% endif %}
  {% endif %}
{% endfor %}

<div class="swatch clearfix" data-option-index="{{ option_index }}">
  <div class="option_title">{{ swatch }}</div>
  {% assign values = '' %}
  {% for variant in product.variants %}
    {% assign value = variant.options[option_index] %}
    {% unless values contains value %}
      {% assign values = values | join: ',' %}
      {% assign values = values | append: ',' | append: value %}
      {% assign values = values | split: ',' %}

      {% capture swatch_option_code %}
          <input id="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} />
          <div data-value="{{ value | escape }}" data-id="{{ variant.id }}" class="swatch-element {% if is_color %}color {% endif %}{{ value | handle }}-swatch {% if variant.available %}available{% else %}soldout{% endif %} {{ swatch }} ">
              {% if is_color %}
                <div class="tooltip">{{ value }}</div>
              {% endif %}
              {% if is_color %}
                <label class="swatch-{{ option_index }}-{{ value | handle }}" for="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}">
                </label>
              {% else %}
                <label for="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}">
                  {{ value }}
                </label>
              {% endif %}
            </div>
      {% endcapture %}

        {% assign has_stage_only = true %}
        {% assign scent_tags = 'Stagecoach, Magic, Gold, Naked, Hammer, Vetiver X, The Gatsby, Royal Oud' %}
        {% if current_tags %}
            {% for tag in current_tags %}
                {% assign tag_handle = tag | handle %}
                {% if scent_tags contains tag %}
                    {% assign has_stage_only = false %}
                    {% break %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if current_tags and is_color and has_stage_only == false %}

            {% for tag in current_tags %}
                {% assign tag_handle = tag | handle %}
                {% assign value_handle = value | handle %}
                {% if tag_handle != value_handle %}
                    {% continue %}
                {% endif %}
                {{ swatch_option_code }}
            {% endfor %}
        {% else %}
            {{ swatch_option_code }}
        {% endif %}
    {% endunless %}
  {% endfor %}
</div>
