<form action="/cart/add" class="form-vertical" enctype="multipart/form-data" id="AddToCartForm" method="post">
    <select name="id" id="productSelect" class="product-single__variants" {% if product.variants.size > 1 %} {% else %} style="display:none;" {% endif %}>
        {% for variant in product.variants %}
            {% if variant.available %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }}
                    -
                    {{ variant.price | money_with_currency }}</option>
            {% else %}
                <option disabled="disabled">{{ variant.title }}
                    -
                    {{ 'products.product.sold_out' | t }}</option>
            {% endif %}
        {% endfor %}
    </select>


    <input class="quantity-selector" id="Quantity" min="1" name="quantity" type="hidden" value="1">
    <button class="nmr-butt show_popup_added" id="AddToCart" name="add" type="submit">
        <span>Buy Now</span>
    </button>
</form>