
		<footer id="footer">
          	<div class="sticky-stopper"></div>

				<div class="subscribe-holder">
					<div class="heading">Sign Up For News, Sales & More</div>

				
                  <div class="klaviyo-form-Q9mMYL"></div>


				{%comment%}<form method="post" action="/contact" id="contact_form" accept-charset="UTF-8" class="subscribe">
					
					<input type="hidden" name="form_type" value="contact">
					<input type="hidden" name="utf8" value="✓">
					<input type="hidden" name="contact[tags]" value="newsletter, subscribe">
					<input type="email" name="contact[email]" id="footer-EMAIL" placeholder="What's your email">
					<input type="submit" id="footer-subscribe" value="SUBMIT" style="">
					 
				 </form>
                  {%endcomment%}

				</div>

				<div class="footer-col">
					<div class="container">
						<div class="col">
							<ul>
								<li class="bold-row"><a href="/pages/build-your-own-kit" title="Build Your Own Kit">BUILD YOUR OWN KIT</a></li>
                              	<li class="bold-row"><a href="/products/gift-card" title="Bossman Gift Cards">GIFT CARDS</a></li>
								<li class="bold-row"><a href="/pages/refund-policy" title="Refund Policy">REFUND POLICY</a></li>
								<li class="bold-row"><a href="/pages/subscribe" title="Join Our Newsletter">SIGN UP FOR EMAIL</a></li>
								<li class="bold-row"><a href="https://facebook.com/bossmanbrands" title="Join The Brotherhood" target="_blank">JOIN THE BROTHERHOOD</a></li>
                              	<li class="bold-row"><a href="/pages/affiliate-program" title="Affiliate Program">AFFILIATE PROGRAM</a></li>
                                <li class="bold-row"><a href="/pages/ambassador" title="Become an Ambassador">BECOME AN AMBASSADOR</a></li>

							</ul>
						</div>
						<div class="col">
							<ul>
								<li class="bold-row"><a href="/pages/faq" title="Get Help">GET HELP</a></li>
								<li><a href="/account/orders" title="Order Status">Order Status</a></li>
								<li><a href="/pages/faq" title="Shipping and Delivery">Shipping and Delivery</a></li>
								<li><a href="/pages/refund-policy" title="Returns">Returns</a></li>
								<li><a href="/pages/faq" title="Payment Options">Payment Options</a></li>
								<li><a href="/pages/faq" title="FAQs">FAQs</a></li>
								<li><a href="/pages/contact-us" title="Contact Us">Contact Us</a></li>
                              	<li><a href="/account" title="My Account">My Account</a></li>

							</ul>
						</div>
						<div class="col">
							<ul>
								<li class="bold-row"><a href="/pages/about-us" title="About Bossman">ABOUT BOSSMAN</a></li>
								<li><a href="/blogs/blog" title="Bossman News">News</a></li>
								<li><a href="/pages/contact-us" title="Contact Us">Investors</a></li>
								<li><a href="/pages/about-us#purpose" title="The Bossman Purpose">Purpose</a></li>
								<li><a href="/pages/about-us#innovation" title="Bossman Innovation">Innovation</a></li>
							</ul>
						</div>
						<div class="col-img">
							<a href="/" title="Bossman Brands">
                              <picture>
					              	{%- comment -%}
						                DESKTOP -- we're targeting range of widths here
						                  1280-1600px screen = 1600px image
						                  1601-1920px screen = 1920px image
						                  >1920px screen     = 2560px image
					              	{%- endcomment -%}
					              	<source media="(min-width: 1601px)" srcset="{{ 'footer-logobossman.png' | asset_img_url: '100x' }} 1x, {{ 'footer-logobossman.png' | asset_img_url: '100x', scale: 2 }} 2x">
					              	<source media="(min-width: 1280px)" srcset="{{ 'footer-logobossman.png' | asset_img_url: '100x' }} 1x, {{ 'footer-logobossman.png' | asset_img_url: '100x', scale: 2 }} 2x">

					              	{%- comment -%}
						                TABLET -- 768px & 1024px (we're being very specific here)
					              	{%- endcomment -%}
					              	<source media="(min-width: 1024px)" srcset="{{ 'footer-logobossman.png' | asset_img_url: '100x' }} 1x, {{ 'footer-logobossman.png' | asset_img_url: '100x', scale: 2 }} 2x">
					              	<source media="(min-width: 768px)"  srcset="{{ 'footer-logobossman.png' | asset_img_url: '100x' }} 1x, {{ 'footer-logobossman.png' | asset_img_url: '100x', scale: 2 }} 2x">

					              	{%- comment -%}
						                MOBILE -- 414px max because it's the widest among the most popular screen widths
					              	{%- endcomment -%}
					              	<img
						                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
						                srcset="{{ 'footer-logobossman.png' | asset_img_url: '100x' }} 1x, {{ 'footer-logobossman.png' | asset_img_url: '100x', scale: 2 }} 2x"
                                         alt="logo"
						                class="img-responsive lazyload"
						              >
					            </picture>
                          </a>
						</div>
					</div>
				</div>

				<div class="footer-panel">
					<div class="social-block">
						<ul class="social-list">

							<li><a target="_blank" href="https://facebook.com/bossmanbrands" title="Bossman Brands on Facebook"><img src="https://cdn.shopify.com/s/files/1/2283/7011/files/Facebook-2x.png?v=1594230339" alt="Bossman Brands on Facebook" target="_blank" width="25" height="25"></a></li>

							<li><a href="https://instagram.com/bossmanbrands" title="Bossman Brands on Instagram" target="_blank"><img src="//cdn.shopify.com/s/files/1/2283/7011/t/68/assets/Instagram-2x.png" alt="Bossman Brands on Instagram" width="25" height="25"></a></li>

							<li><a href="https://twitter.com/bossmanbrands#" title="Bossman Brands on Twitter" target="_blank"><img src="//cdn.shopify.com/s/files/1/2283/7011/files/Twitter-2x.png?v=1592635032" alt="Bossman Brands on Twitter" width="25" height="25"></a></li>

							<li><a href="https://www.youtube.com/user/bossmanbrands" title="Bossman Brands on YouTube" target="_blank"><img src="//cdn.shopify.com/s/files/1/2283/7011/files/YouTubeFooter.png?v=1591283332" alt="Bossman Brands on Twitter" width="25" height="25"></a></li>

						</ul>
					</div>
					<div class="bottom-info">
						<div class="left-col">
							<p class="copyright">©2020 Bossman Brands, Inc. All Rights Reserved</p>
						</div>
						<div class="right-col">
							<ul>
								<li><a href="/pages/terms-conditions" title="Terms and Conditions">Terms and Conditions</a></li>
								<li><a href="/pages/private-policy" title="Privacy Policy">Privacy Policy</a></li>
							</ul>
						</div>
					</div>
				</div>
		</footer>


<script>
$(function () {
    $('input,textarea').focus(function () {
        $(this).data('placeholder', $(this).attr('placeholder'))
               .attr('placeholder', '');
    }).blur(function () {
        $(this).attr('placeholder', $(this).data('placeholder'));
    });
});
</script>