
    <h3>{{section.settings.title}}</h3>
    <div class="shop-scent-featured-blocks">
        {% for block in section.blocks %}
        {% assign product_handle = block.settings.product_item %}
        {% assign product = all_products[product_handle] %}
        {% assign product_image =  block.settings.product_image | img_url: '500x' %}
        <div class="shop-scent-featured-block">
            <a href="{{product.url}}">
                {% if product.featured_image != blank %}
                    <img src="{{product.featured_image | img_url : '500x'}}">
                {% else %}
                    <img src="{{product_image}}">
                {% endif %}
                <label>{{product.title}}</label>
              <div class="shop-scent-rating-block">
                    {% include 'okendo-reviews-product-rating-summary' %}
                </div>
                <span>{{ product.price | money }}</span>

            </a>
        </div>
        {% endfor %}
    </div>

{% schema %}
{
    "name": "Featured Products",
    "class": "shop-scent-featured",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        }
    ],
    "blocks": [
        {
            "type": "product",
            "name": "Product",
            "settings": [
                {
                    "type": "product",
                    "id": "product_item",
                    "label": "Product"
                },
                {
                    "type": "image_picker",
                    "id": "product_image",
                    "label": "Product Image"
                }
            ]
        }
    ]
}
{% endschema %}
