<div class="home row top-sellers">
<div class="section_titles">
<h3>Top Sellers</h3>
<a href="/collections/all" class="section_link"><span>Shop Now</span></a>
</div>

<div class="slider-wrapper" id="topsellers-home">
  <div class="topsellers">

    {%- for block in section.blocks -%}
    {% assign product_handle = block.settings.product %}
    {% assign product = all_products[product_handle] %}
    {% assign variant_index = block.settings.index | plus: 0 %}
    {% assign varant_product = product.variants[variant_index] %}
    {% assign product_image =  varant_product | img_url: '600x' %}

    <a href="{{ varant_product.url }}">
      {%- assign disable_lazyload = section.settings.disable_lazyload -%}
      <div class="slide">
        <div class="prod-image">
          <picture>
            {%- comment -%}
              DESKTOP -- we're targeting range of widths here
                1280-1600px screen = 1600px image
                1601-1920px screen = 1920px image
                >1920px screen     = 2560px image
            {%- endcomment -%}
            <source media="(min-width: 1601px)" srcset="{{ varant_product | img_url: '700x' }} 1x, {{ varant_product | img_url: '700x', scale: 2 }} 2x">
            <source media="(min-width: 1280px)" srcset="{{ varant_product | img_url: '500x' }} 1x, {{ varant_product | img_url: '500x', scale: 2 }} 2x">

            {%- comment -%}
              TABLET -- 768px & 1024px (we're being very specific here)
            {%- endcomment -%}
            <source media="(min-width: 1024px)" srcset="{{ varant_product | img_url: '400x' }} 1x, {{ varant_product | img_url: '400x', scale: 2 }} 2x">
            <source media="(min-width: 768px)"  srcset="{{ varant_product | img_url: '300x' }} 1x, {{ varant_product | img_url: '300x', scale: 2 }} 2x">

            {%- comment -%}
              MOBILE -- 414px max because it's the widest among the most popular screen widths
            {%- endcomment -%}
            <img
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              srcset="{{ varant_product | img_url: '414x' }} 1x, {{ varant_product | img_url: '414x', scale: 2 }} 2x"
              alt="{{ varant_product.image.alt }}"
              class="img-responsive lazyload"
            >
          </picture>
        </div>
        <h4>{{ product.title }}</h4>
        <div class="topsellers-rating-block">
          {% include 'okendo-reviews-product-rating-summary' %}
        </div>
        <span>{{ varant_product.price | money }}</span>
      </div>
    </a>

 {%- endfor -%}


  </div>
</div>

</div>


{% schema %}
{
    "name": "Top Sellers",
    "settings": [
        
    ],
    "blocks": [
        {
            "type": "product",
            "name": "Top Seller",
            "settings": [
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                },
                {
                  "type": "text",
                  "id": "index",
                  "label": "Index"
                }
            ]
        }
    ]
}
{% endschema %}