<div class="page-ambassador">
	<div class="ambassador-hero" style="background-image: url({{'ambassador-hero-bg.jpg' | asset_url}});">
		<div class="ambassador-hero__inner">
			<div class="ambassador-hero-video" style="background-image: url({{'ambassador-video.png' | asset_url}});">
				<a href="https://www.youtube.com/watch?v=O5b68TLkvHM&feature=youtu.be" data-fancybox="" target="_blank">
					<button style="background-image: url({{'playbutton.png' | asset_url }});"></button>
				</a>
			</div>

			<div class="ambassador-hero-content">
				<div class="ambassador-video--content">
					<h5>Become a</h5>
					<h1>BOSS</h1>
					<a href="">Join Now</a>
				</div>
			</div>
		</div>
	</div>

	<div class="ambassador-join">
		<div class="ambassador-join-image" style="background-image: url({{'JoinAmbassadorTeam.png' | asset_url}});">
		</div>
		<div class="ambassador-join-text">
			<h5>Join the Bossman Brand</h5>
			<h1>Ambassador Team</h1>
			<h4>At <span>BOSSMAN</span>, we are strongly passionate about building a brotherhood of like-minded bosses who are serious about their beards. From modern professionals to outdoor enthusiasts, we represent all men who take pride in embracing timeless class and style. We are modern renaissance men. We have perseverance and self-discipline. We are risk-takers who take the game by the scruff of the neck. We are the ultimate definition of a real boss.<br><br>If you are looking to be part of a community of strong-minded, talented bosses, then our Bossman Brotherhood is for you. Join our ambassador program today and start working with the beard company that is changing the game.</h4>
		</div>
	</div>

	<div class="ambassador-share">
		<div class="ambassador-share-content">
			<h1>
				<span>15%</span> Commission +<br> a Personalized <span>15%</span><br> Off Code to Share</h1>
			<h5>Every ambassador will be given a unique coupon code (15% off) and web tracking code to manage sales and commissions. Every sale you make through your unique code or tracked link will earn you 15% commissions to be paid out monthly.</h5>
		</div>
		<div class="ambassador-share-image" style="background-image: url({{'commission-bg.jpg' | asset_url}});"></div>
	</div>

	<div class="ambassador-structure">
		<h1>
			<span>Tiered</span> Commission Structure:
		</h1>
		<div class="ambassador-structure-block">
			<div class="ambassador-structure-item">
				<img src="{{'free-hat-icon.png' | asset_url}}">
				<p>If ambassador <br>brings 3 orders &rarr;<br><b>+ 1 free hat</b></p>
			</div>
			<div class="ambassador-structure-item">
				<img src="{{'bundle-icon.png' | asset_url}}">
				<p>If ambassador brings in 5 orders <b>&rarr; 1 free <br>product</b> (excl. bundles)</p>
			</div>
			<div class="ambassador-structure-item">
				<img src="{{'credit-icon.png' | asset_url}}">
				<p>If ambassador <br>brings 7 orders <b>&rarr; <br>$50 store credit</b></p>
			</div>
			<div class="ambassador-structure-item">
				<img src="{{'commission-icon.png' | asset_url}}">
				<p>If ambassador brings 10 orders <b>&rarr; Commission <br>increase to 20%</b></p>
			</div>
		</div>
	</div>

	<div class="ambassador-share">
		<div class="ambassador-share-content">
			<h1>
				Access to a <span>Facebook Group</span> Exclusive for Bossman Ambassadors
			</h1>
			<h5>As an AmBOSSador you will gain VIP access to a closed Facebook Group for ambassadors ONLY. We will offer premium content as well as a solid community where you can help motivate each other every day and share your experiences.</h5>
		</div>
		<div class="ambassador-share-image" style="background-image: url({{'bossman-facebook-group.jpg' | asset_url}});"></div>
	</div>

	<div class="ambassador-join bottom">
		<div class="ambassador-join-image" style="background-image: url({{'ReadyToJoin.jpg' | asset_url}});">
		</div>
		<div class="ambassador-join-text">
			<h5>Ready to Join</h5>
			<h1>Your Bearded Brothers?</h1>
			<h4>To start the process of becoming a Bossman Brands Ambassador, we have to make sure you're repping the brand and (of course) using Bossman products as part of your bearded journey. The first step is easy, you just make a purchase and use the 10% off code "GOBOSS" at checkout. No exceptions. After making your purchase using the mentioned code, you will immediately receive special instructions on your next steps as a Bossman Brands Ambassador!</h4>
		</div>
	</div>

	<div class="ambassador-contact" style="background-image: url({{'ambassador-coontact-bg.jpg' | asset_url}});">
		<h3>Become a Part of Something</h3>
		<h1>That's Texas-Sized BIG</h1>
		<div class="ambassador-contact-block">
			<div class="right-top-border"></div>
			<div class="left-bottom-border"></div>
			<div class="bottom-border"></div>
			<div class="ambassador-contact-inner">
				<div class="ambassador-contact-form">
					<h2>Join the<br> Brotherhood</h2>
					<div class="ambassador-contact-form-block" style="display:none;">
						{% form 'contact' %}
							<input class="form-control" id="ContactFormName" name="contact[name]" placeholder="Your Full Name" type="text">
							<input class="form-control" id="ContactFormEmail" name="contact[email]" placeholder="Your Email Address" type="text">
							<input class="form-control" id="ContactFormPhone" name="contact[phone]" placeholder="Your Phone Number" type="text">
							<input class="form-control" id="ContactFormInstagram" name="contact[instagram]" placeholder="Instagram" type="text">
							<input class="form-control" id="ContactFormFacebook" name="contact[facebook]" placeholder="Facebook" type="text">
							<input class="form-control" id="ContactFormYoutube" name="contact[youtube]" placeholder="Youtube (optional)" type="text">
							<input class="form-control" id="ContactFormOthers" name="contact[others]" placeholder="Others (optional)" type="text">
							<input class="form-control" id="ContactFormBlogLink" name="contact[bloglink]" placeholder="Blog Link (optional)" type="text">
							<input class="form-control" id="ContactFormPodcaseLink" name="contact[podcaselink]" placeholder="Podcase Link (optional)" type="text">
							<textarea rows="7" cols="50" id="ContactFormMessage" name="contact[message]" placeholder="Your Message"></textarea>
							<span class="tell-us-txt"><i>Tell Us Why You Want To Join The Bossman Brands <br> Ambassador Program</i></span>
							<input type="submit" class="btn join-brotherhood" value="Join Now">
						{% endform %}
					</div>
                 
				  <div class="ambassador-contact-form-block">
                  	<div class="klaviyo-form-S4tCLK"></div>
                  </div>
                  
                  
				</div>
				<div class="ambassador-contact-image" style="background-image: url({{'JoinTheBrotherHood.jpg' | asset_url}});"></div>
			</div>
		</div>
	</div>

</div>